body{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.app-container{
  min-height: 100vh;
  background: #202027;
  padding: 32px;
}
.content-wrapper{
  min-width: 768px;
  margin: 0 auto;
  /* background: #fff; */
}
header{
  text-align: center;
  margin-bottom: 32px;
}
header h1{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 2.2em;
  font-weight: bold;
  color:#fff;
  margin-bottom: 8px;
}
header p{
  color: #b8b9c0;
  font-size: 1.2em;
}
.busca-box{
  background: #222;
  border-radius: 6px;
  box-shadow: 0 10px 30px #1d1a1a;
  padding: 24px;
  margin-bottom: 50px;
}
.busca-container{
  display: flex;
  gap: 8px;
}
.busca-container input{
  flex: 1;
  background-color: #363636;
  color: #fff;
  padding: 12px 16px;
  border: 1px solid #3f3a3a;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.2s, box-shadow 0.2s;
}
.busca-container input:focus{
  border-color: #2f4363;
  box-shadow: 0 0 0 3px #3b83f65f;
}
.busca-container button{
  padding: 12px 24px;
  background: #415677;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s;
}
.busca-container button:hover{
  background: #263963;
}
.busca-container button:disabled{
  cursor: not-allowed;
  background: #9ca3af;
}
.error-message{
  margin-top: 16px;
  padding: 12px;
  background: #694444;
  border: 1px solid #8b5c5c;
  border-radius: 8px;
  color: #d6c4c4;
}
#card-resultado{
  background: #222;
  border-radius: 6px;
  box-shadow: 0 10px 30px #1d1a1a;
  padding: 32px;
}
#cidade-info{
  text-align: center;
  margin-bottom: 24px;
}
#cidade-nome{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 1.5em;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 8px;
}
#cidade-desc{
  color: #b4c1d3;
  text-transform: capitalize;
  font-size: 1.2em;
}
#temperatura-box{
  text-align: center;
  margin-bottom: 32px;
}
#temperatura-valor{
  font-size: 3.7em;
  font-weight: bold;
  color: #7690c9;
  margin-bottom: 8px;
}
#sensacao{
  color: #b4c1d3;
}
.detalhes-box{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 16px;
}
.detalhes-item{
  background: #303030;
box-shadow:  5px 5px 10px #0000002c,
             -5px -5px 5px #3636362c;
  padding: 16px;
  border-radius: 8px;
  text-align: center;
}
.detalhes-item h2{
  font-size: 0.9em;
  color: #ffffff;
  margin-bottom: 4px;
}
.detalhes-item h3{
  color: #b4c1d3;
}

/* RESPONSIVO */
@media (max-width: 768px){
  .content-wrapper{
    min-width: 100%;
  }
  .busca-container input{
    width: 80%;
  }
  .detalhes-box{
    grid-template-columns: 1fr;
  }
  #temperatura-valor{
    font-size: 3em;
  }
  header h1{
    font-size: 1.8em;
  }
}